#code{
    position: relative;
    left: 50px;
    top: 60px;
    width: 70%;
}
.buttonCode{
    font-size: 20px;
    color: #596275;
    box-shadow: 9px 9px 18px rgba(0, 0, 0, 0.1),
    -9px -9px 18px rgba(255, 255, 255, 1);
    border-radius: 3rem;
	transition: box-shadow .2s ease-out;
    background-color: #000000;
    position: relative;
    top: 120px;
    margin-top: 20px;
    width: 130px;
    height: 55px;
    outline: none;
    background:none;
    border:none;
}

.buttonCode:hover{
    font-size: 19px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2),
    -1px -1px 2px rgba(255, 255, 255, 0.8);
    border-radius: 3rem;
    transition: box-shadow .2s ease-out;
    transition: font-size .2s ease-out;
}

